body{
    background-color: white;
}
#navbar{
    width: 100%;
    background-color: rgb(246, 246, 246);
}
#hero{
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap:30px;
}
.hero-text{
    color: aliceblue;
    h1{
        font-weight: bold;        
    }
}